body {
    padding: 20px;
    font-family: "Inter", monospace;
    background: black;
    color: white;
}

.mr {
    position: absolute;
    right: 240px;
    top: 30px;
    left: 580px;
}
.img-book {
    width: 300px;
    position: absolute;
    right: 880px;
}
.p8 {
    width: 500px;
    position: absolute;
    top: 430px;
   left: 230px;
}
.p9 {
    width: 500px;
    position: absolute;
    top: 430px;
   right: 230px;
}
.r1 {
    width: 400px;
    position: absolute;
    top: 1150px;
    left: 310px;
}
.r2 {
    width: 400px;
    position: absolute;
    top: 1150px;
    right: 310px;
}
.r3 {
    width: 400px;
    position: absolute;
    top: 1700px;
    left: 310px;
}
.r4 {
    width: 400px;
    position: absolute;
    top: 1700px;
    right: 310px;
}
.r5 {
    width: 480px;
    position: absolute;
    top: 2255px;
    left: 230px;
}
.r6 {
    width: 480px;
    position: absolute;
    top: 2255px;
    right: 230px;
}
.page2 {
    width: 500px;
    position: absolute;
    top: 2635px;
   left: 220px;
}
.page3 {
    width: 500px;
   position: absolute;
   top: 2635px;
   right: 220px;
}
.page4 {
    width: 500px;
    position: absolute;
    top: 2980px;
    left: 220px;
}
.page5 {
    width: 500px;
    position: absolute;
    top: 2980px;
    right: 220px;
}
.page6 {
    width: 500px;
    position: absolute;
    top: 3325px;
    left: 220px;
}
.page7 {
    width: 500px;
    position: absolute;
    top: 3325px;
    right: 220px;
}
.mr2 {
    position: absolute;
    top: 3670px;
    left: 700px;
    margin-bottom: 100px;
}
.download-btn {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-decoration: underline;
    position: absolute;
    top: 400px;
    right: 500px;
}
.download-btn:hover {
    text-decoration: none;
}


.aa {
    position: absolute;
    margin-top: 15px;
    margin-left: 710px;
    margin-right: 220px;
}
.img-y {
    width: 400px;
    position: absolute;
    top: 40px;
    left: 300px;
}
.a4 {
    width: 400px;
    position: absolute;
    top: 470px;
    left: 300px;
}
.video5 {
    width: 400px;
    position: absolute;
    top: 470px;
    right: 300px;
}
.a5 {
    width: 400px;
    position: absolute;
    top: 900px;
    left: 300px;
}
.a6 {
    width: 400px;
    position: absolute;
    top: 900px;
    right: 300px;
}
.a1 {
    width: 400px;
    position: absolute;
    top: 1220px;
    left: 300px;
}
.a2 {
    width: 400px;
    position: absolute;
    top: 1780px;
    right: 300px;
}
.a3 {
    width: 400px;
    position: absolute;
    top: 1780px;
    left: 300px;
}
.aa2 {
    position: absolute;
     top: 2700px;
     left: 700px; 
}
.video2 {
    width: 400px;
    position: absolute;
    top: 1220px;
    right: 300px;
}


.d {
position: absolute;
margin-top: 20px;
margin-left: 710px;
margin-right: 300px;
}
.p1 {
    width: 400px;
    position: absolute;
    left: 300px;
}
.img-poster {
    width: 400px;
    position: absolute;
    top: 580px;
    left: 300px;
}
.img-poster2 {
    width: 400px;
    position: absolute;
    top: 580px;
    right: 300px;
}
.p2 {
    width: 400px;
    position: absolute;
    top: 1140px;
    left: 300px;
}
.p3 {
    width: 400px;
    position: absolute;
    top: 1140px;
    right: 300px;
}
.p4 {
    width: 400px;
    position: absolute;
    top: 1700px;
    left: 300px;
}
.p5 {
    width: 400px;
    position: absolute;
    top: 2260px;
    left: 300px;
}
.p6 {
    width: 400px;
    position: absolute;
    top: 2260px;
    right: 300px;
}
.p7 {
    width: 840px;
    position: absolute;
    top: 2860px;
    left: 300px;
}
.p88 {
    width: 840px;
    position: absolute;
    top: 3530px;
    right: 300px;
}
.p99 {
    width: 840px;
    position: absolute;
    top: 4200px;
    left: 300px;
}
.d2 {
    position: absolute;
    top: 4850px;
    left: 700px;
}
.p10 {
    width: 340px;
    position: absolute;
    top: 1700px;
    right: 330px;
}
.download-btn2 {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-decoration: underline;
    position: absolute;
    top: 2200px;
    right: 425px;
}
.download-btn2:hover {
    text-decoration: none;
}

.fm {
    position: absolute;
margin-top: 190px;
margin-left: 730px;
margin-right: 340px;
}
.img-t {
    width: 400px;
    position: absolute;
    left: 300px;
}
.t1 {
    width: 400px;
    position: absolute;
    top: 580px;
    left: 300px;
}
.t2 {
    width: 400px;
    position: absolute;
    top: 580px;
    right: 300px;
}
.t3 {
    width: 400px;
    position: absolute;
    top: 1100px;
    left: 300px;
}
.t4 {
    width: 400px;
    position: absolute;
    top: 1140px;
    right: 300px;
}
.t5 {
    width: 400px;
    position: absolute;
    top: 1670px;
    left: 300px;
}
.t6 {
    width: 400px;
    position: absolute;
    top: 1695px;
    right: 300px;
}
.t7 {
    width: 400px;
    position: absolute;
    top: 1990px;
    left: 300px;
}
.t8 {
    width: 400px;
    position: absolute;
    top: 2020px;
    right: 300px;
}
.fm2 {
    position: absolute;
    top: 2420px;
    left: 700px;
}

.w {
    width: 800px;
    position: absolute;
    left: 310px;
}
.wy {
    position: absolute;
    margin-top: 520px;
    margin-left: 350px;
    margin-right: 350px;
}
 .video1 {
    width: 800px;
    position: absolute;
    top: 650px; 
    left: 320px;
} 
.w3 {
    width: 750px;
    position: absolute;
    top: 1150px;
    left: 340px;
}
.w2 {
    width: 800px;
    position: absolute;
    top: 1750px;
    left: 310px;
}
.ww {
    position: absolute;
    top: 2300px;
    left: 700px;
}

.z {
    width: 500px;
    position: absolute;
    top: 50px;
    left: 270px;
}
.zine1 {
    position: absolute;
    margin-top: 70px;
    margin-left: 780px;
    margin-right: 280px;
}
.z1 {
    width: 430px;
    position: absolute;
    top: 430px;
    left: 280px;
}
.z2 {
    width: 430px;
    position: absolute;
    top: 430px;
    right: 280px;
}
.z3 {
    width: 430px;
    position: absolute;
    top: 775px;
    left: 280px;
}
.z4 {
    width: 430px;
    position: absolute;
    top: 780px;
    right: 280px;
}
.zine2 {
    position: absolute;
    top: 1130px;
    left: 700px;
}

.e1 {
    width: 400px;
    position: relative;
    left: 500px;
    top: 30px;
}
.CD1 {
width: 300px;
position: absolute;
left: 350px;
top: 180px;
}
.CD2 {
width: 300px;
position: absolute;
left: 350px;
top: 450px;
}
.e {
    position: absolute;
    margin-top: 250px;
    margin-right: 400px;
    margin-left: 650px;
}
.e8 {
    width: 370px;
    position: absolute;
    top:740px;
    left: 520px;
}
.e2 {
width: 470px;
position: absolute;
top: 1290px;
left: 290px;
}

.video3 {
    width: 370px;
position: absolute;
top: 1170px;
right: 350px;
}
.e4 {
    width: 800px;
    position: absolute;
    top: 1710px;
    left: 320px;
}
.e5 {
    width: 800px;
    position: absolute;
    top: 2150px;
    left: 360px;
}
.e6 {
    width: 800px;
    position: absolute;
    top: 2600px;
    left: 340px;
}
.e7 {
    width: 800px;
    position: absolute;
    top: 3220px;
    left: 320px;
}
.ee {
    position: absolute;
    top: 3730px;
    left: 700px;
}

.kaan {
    width: 500px;
    position: absolute;
    top: 20px;
    left: 450px;
}
.ka {
    position: absolute;
    margin-top: 130px;
    margin-left: 350px;
    margin-right: 390px;
}
.planet1 {
    width: 340px;
    position: absolute;
    top: 300px;
    left: 350px
}
.planet2 {
    width: 340px;
    position: absolute;
    top: 300px;
    right: 370px;
}
.o1 {
width: 300px;
position: absolute;
top: 680px;
left: 230px;
}
.o2 {
    width: 300px;
    position: absolute;
    top: 680px;
    left: 570px;
    }
    .o3 {
        width: 300px;
        position: absolute;
        top: 680px;
        left: 910px;
        }
        .o4 {
            width: 300px;
            position: absolute;
            top: 1080px;
            left: 230px;
            }
            .o5 {
                width: 300px;
                position: absolute;
                top: 1080px;
                left: 570px;
                }
.post1 {
    width: 300px;
    position: absolute;
    top: 1500px;
    left: 390px;
}
.post2 {
    width: 300px;
    position: absolute;
    top: 1500px;
    right: 390px;
}
.post3 {
    width: 300px;
    position: absolute;
    top: 1080px;
    left: 910px;
}
.figma {
    width: 650px;
    position: absolute;
    top: 1980px;
    left: 390px;
}
.kaa {
    position: absolute;
    top: 2370px;
    left: 700px;
}

.m {
    width: 300px;
    position: absolute;
    top: 20px;
    left: 580px;
}
.mm {
    position: absolute;
    margin-top: 200px;
    margin-left: 430px;
    margin-right: 390px;
}
.mbook {
width: 270px;
position: absolute;
top: 450px;
left: 450px;
}
.mbook2 {
    width: 270px;
position: absolute;
top: 450px;
right: 430px;
}
.mcd1 {
    width: 440px;
    position: absolute;
    top: 1180px;
    left: 330px;
}
.mcd2 {
    width: 440px;
    position: absolute;
    top: 1180px;
    right: 320px;
}
.mpages {
    width: 600px;
    position: absolute;
    top: 860px;
    left: 430px
}
.mdraw1 {
    width: 250px;
    position: absolute;
    top: 1600px;
    left:320px
}
.mdraw2 {
    width: 250px;
    position: absolute;
    top: 1950px;
    left:320px;
}
.mdraw3 {
    width: 250px;
    position: absolute;
    top: 1600px;
    left:590px
}
.mdraw4 {
    width: 250px;
    position: absolute;
    top: 1950px;
    left:590px;
}
.mdraw5 {
    width: 250px;
    position: absolute;
    top: 1950px;
    left:860px
}
.mdraw6 {
    width: 250px;
    position: absolute;
    top: 1650px;
    left:860px;
}
.mm7 {
    width: 250px;
    position: absolute;
    top: 2310px;
    left: 320px;
}
.mm8 {
    width: 250px;
    position: absolute;
    top: 2310px;
    left: 590px;
}
.mm9 {
    width: 250px;
    position: absolute;
    top: 2310px;
    left: 860px;
}
.mm10 {
    width: 250px;
    position: absolute;
    top: 2780px;
    left: 320px;
}
.mm11 {
    width: 250px;
    position: absolute;
    top: 2830px;
    left: 590px;
}
.mm12 {
    width: 250px;
    position: absolute;
    top: 2810px;
    left: 860px;
}
.mm13 {
    width: 250px;
    position: absolute;
    top: 3020px;
    left: 860px;
}
.mm14 {
    width: 250px;
    position: absolute;
    top: 3250px;
    left: 320px;
}
.mm15 {
    width: 250px;
    position: absolute;
    top: 3250px;
    left: 590px;
}
.mm16 {
    width: 250px;
    position: absolute;
    top: 3250px;
    left: 860px;
}
.mm17 {
    width: 250px;
    position: absolute;
    top: 3720px;
    left: 320px;
}
.mm18 {
    width: 250px;
    position: absolute;
    top: 3720px;
    left: 590px;
}
.mm19 {
    width: 250px;
    position: absolute;
    top: 3720px;
    left: 860px;
}
.mm20 {
    width: 250px;
    position: absolute;
    top: 4000px;
    left: 320px;
}
.mm21 {
    width: 250px;
    position: absolute;
    top: 4000px;
    left: 590px;
}
.mm22 {
    width: 250px;
    position: absolute;
    top: 4000px;
    left: 860px;
}
.mm23 {
    width: 250px;
    position: absolute;
    top: 4280px;
    left: 320px;
}

.mm2 {
    position: absolute;
    top: 4600px;
    left: 720px;
}

.em {
    width: 370px;
    position: absolute;
    top: 1px;
    left: 240px
}
.wfe {
    position: absolute;
    margin-top: 80px;
    margin-left: 600px;
    margin-right: 240px;
}
.wfee {
    position: absolute;
    margin-top: 470px;
    margin-left: 110px;
    margin-right: 120px;
}

.colourvideo {
    width: 500px;
    position: absolute;
    top: 630px;
    left: 480px;
}
.em1 {
    width: 300px;
    position: absolute;
    top: 1500px;
    left: 240px
}
.em2 {
    width: 300px;
    position: absolute;
    top: 1500px;
    left: 560px
}
.em3 {
    width: 300px;
    position: absolute;
    top: 1500px;
    left: 880px
}
.wfe2 {
    position: absolute;
    top: 2000px;
    left: 680px
}

@media (max-width: 480px) {
    .mr {
    font-size: 10px;
    position: absolute;
    top: 220px;
    right: 50px;
    left: 50px;
    }
    .img-book {
        width: 115px;
        position: absolute;
        top: 30px;
        left: 150px;
    }
    .p8 {
        width: 140px;
        position: absolute;
        top: 570px;
       left: 60px;
    }
    .p9 {
        width: 140px;
        position: absolute;
        top: 570px;
       left: 210px;
    }

    .r1 {
        width: 140px;
        position: absolute;
        top: 800px;
        left: 55px;
    }
    .r2 {
        width: 140px;
        position: absolute;
        top: 800px;
        left: 220px;
    }
    .r3 {
        width: 140px;
        position: absolute;
        top: 1010px;
        left: 55px;
    }
    .r4 {
        width: 140px;
        position: absolute;
        top: 1010px;
        left: 220px;
    }
    .r5 {
        width: 140px;
        position: absolute;
        top: 1220px;
        left: 55px;
    }
    .r6 {
        width: 140px;
        position: absolute;
        top: 1220px;
        left: 220px;
    }
    .page2 {
        width: 140px;
        position: absolute;
        top: 1345px;
       left: 55px;
    }
    .page3 {
        width: 140px;
       position: absolute;
       top: 1345px;
       left: 220px;
    }
    .page4 {
        width: 140px;
        position: absolute;
        top: 1455px;
        left: 55px;
    }
    .page5 {
        width: 140px;
        position: absolute;
        top: 1455px;
        left: 220px;
    }
    .page6 {
        width: 140px;
        position: absolute;
        top: 1570px;
        left: 55px;
    }
    .page7 {
        width: 140px;
        position: absolute;
        top: 1570px;
        left: 220px;
    }

    .mr2 {
        position: absolute;
        top: 1700px;
        left: 190px;
        margin-bottom: 100px;
    }
    .download-btn {
       font-size: 16px;
        text-decoration: none;
        text-decoration: underline;
        position: absolute;
        top: 520px;
        left: 160px;
    }

    .aa {
        font-size: 10px;
        position: absolute;
        margin-top: 150px;
        margin-left: 5px;
        margin-right: 30px;
    }
    .img-y {
        width: 100px;
        position: absolute;
        top: 40px;
        left: 150px;
    }
    .a4 {
        width: 100px;
        position: absolute;
        top: 420px;
        left: 90px;
    }
    .video5 {
        width: 100px;
        position: absolute;
        top: 420px;
        left: 200px;
    }
    .a5 {
        width: 145px;
        position: absolute;
        top: 540px;
        left: 45px;
    }
    .a6 {
        width: 145px;
        position: absolute;
        top: 540px;
        left: 205px;
    }
    .a1 {
        width: 125px;
        position: absolute;
        top: 660px;
        left: 70px;
    }
    .a2 {
        width: 125px;
        position: absolute;
        top: 850px;
        left: 210px;
    }
    .a3 {
        width: 125px;
        position: absolute;
        top: 850px;
        left: 70px;
    }
    .aa2 {
        position: absolute;
         top: 1050px;
         left: 190px; 
    }
    .video2 {
        width: 125px;
        position: absolute;
        top: 660px;
        left: 210px;
    }
    


    .d {
        position: absolute;
        margin-top: 230px;
        margin-left: 5px;
        margin-right: 20px;
        font-size: 10px;
        }
        .p1 {
            width: 125px;
            position: absolute;
            top: 50px;
            left: 150px;
        }
        .img-poster {
            width: 125px;
            position: absolute;
            top: 500px;
            left: 70px;
        }
        .img-poster2 {
            width: 125px;
            position: absolute;
            top: 500px;
            left: 210px;
        }
        .p2 {
            width: 125px;
            position: absolute;
            top: 680px;
            left: 70px;
        }
        .p3 {
            width: 125px;
            position: absolute;
            top: 680px;
            left: 210px;
        }
        .p4 {
            width: 125px;
            position: absolute;
            top: 860px;
            left: 70px;
        }
        .p5 {
            width: 125px;
            position: absolute;
            top: 1040px;
            left: 70px;
        }
        .p6 {
            width: 125px;
            position: absolute;
            top: 1040px;
            left: 210px;
        }
        .p7 {
            width: 170px;
            position: absolute;
            top: 1230px;
            left: 110px;
        }
        .p88 {
            width: 170px;
            position: absolute;
            top: 1370px;
            left: 110px;
        }
        .p99 {
            width: 170px;
            position: absolute;
            top: 1510px;
            left: 110px;
        }
        .d2 {
            position: absolute;
            top: 1680px;
            left: 180px;
        }
        .p10 {
            width: 110px;
            position: absolute;
            top: 860px;
            left: 205px;
        }
        .download-btn2 {
            color: white;
            font-size: 10px;
            text-decoration: none;
            text-decoration: underline;
            position: absolute;
            top: 1010px;
            margin-right: 10px;
            left: 210px;
        }

        .fm {
            position: absolute;
        margin-top: 50px;
        margin-left: 200px;
        margin-right: 50px;
        font-size: 10px;
        }
        .img-t {
            width: 100px;
            position: absolute;
            top: 30px;
            left: 100px;
        }
        .t1 {
            width: 100px;
            position: absolute;
            top: 190px;
            left: 100px;
        }
        .t2 {
            width: 100px;
            position: absolute;
            top: 190px;
            left: 220px;
        }
        .t3 {
            width: 100px;
            position: absolute;
            top: 330px;
            left: 100px;
        }
        .t4 {
            width: 100px;
            position: absolute;
            top: 340px;
            left: 220px;
        }
        .t5 {
            width: 100px;
            position: absolute;
            top: 480px;
            left: 100px;
        }
        .t6 {
            width: 100px;
            position: absolute;
            top: 485px;
            left: 220px;
        }
        .t7 {
            width: 100px;
            position: absolute;
            top: 570px;
            left: 100px;
        }
        .t8 {
            width: 100px;
            position: absolute;
            top: 580px;
            left: 220px;
        }
        .fm2 {
            position: absolute;
            top: 700px;
            left: 190px;
        }

        .w {
            width: 200px;
            position: absolute;
            left: 100px;
        }
        .wy {
            position: absolute;
            margin-top: 140px;
            margin-left: 10px;
            margin-right: 30px;
            font-size: 10px;
        }
         .video1 {
            width: 200px;
            position: absolute;
            top: 280px; 
            left: 100px;
        } 
        .w3 {
            width: 187px;
            position: absolute;
            top: 440px;
            left: 110px;
        }
        .w2 {
            width: 200px;
            position: absolute;
            top: 590px;
            left: 100px;
        }
        .ww {
            position: absolute;
            top: 750px;
            left: 180px;
        }


        .z {
            width: 150px;
            position: absolute;
            top: 110px;
            left: 30px;
        }
        .zine1 {
            position: absolute;
            margin-top: 50px;
            margin-left: 190px;
            margin-right: 30px;
            font-size: 10px;
        }
        .z1 {
            width: 115px;
            position: absolute;
            top: 320px;
            left: 80px;
        }
        .z2 {
            width: 115px;
            position: absolute;
            top: 320px;
            left: 220px;
        }
        .z3 {
            width: 115px;
            position: absolute;
            top: 435px;
            left: 80px;
        }
        .z4 {
            width: 115px;
            position: absolute;
            top: 438px;
            left: 220px;
        }
        .zine2 {
            position: absolute;
            top: 560px;
            left: 190px;
        }


        .e1 {
            width: 100px;
            position: relative;
            left: 140px;
            top: 30px;
        }
        .CD1 {
        width: 75px;
        position: absolute;
        left: 50px;
        top: 150px;
        }
        .CD2 {
        width: 75px;
        position: absolute;
        left: 50px;
        top: 230px;
        }
        .e {
            position: absolute;
            margin-top: 100px;
            margin-right: 30px;
            margin-left: 130px;
            font-size: 10px;
        }
        .e8 {
            width: 130px;
            position: absolute;
            top: 410px;
            left: 140px;
        }
        .e2 {
        width: 135px;
        position: absolute;
        top: 620px;
        left: 70px;
        }
        
        .video3 {
            width: 85px;
        position: absolute;
        top: 600px;
        left: 240px;
        }
        .e4 {
            width: 200px;
            position: absolute;
            top: 760px;
            left: 100px;
        }
        .e5 {
            width: 200px;
            position: absolute;
            top: 880px;
            left: 115px;
        }
        .e6 {
            width: 200px;
            position: absolute;
            top: 990px;
            left: 110px;
        }
        .e7 {
            width: 200px;
            position: absolute;
            top: 1160px;
            left: 110px;
        }
        .ee {
            position: absolute;
            top: 1310px;
            left: 195px;
        }

        .kaan {
            width: 250px;
            position: absolute;
            top: 20px;
            left: 80px;
        }
        .ka {
            font-size: 10px;
            position: absolute;
            margin-top: 60px;
            margin-left: 5px;
            margin-right: 50px;
        }
        .planet1 {
            width: 130px;
            position: absolute;
            top: 200px;
            left: 65px
        }
        .planet2 {
            width: 130px;
            position: absolute;
            top: 200px;
            left: 205px;
        }
        .o1 {
        width: 110px;
        position: absolute;
        top: 360px;
        left: 30px;
        }
        .o2 {
            width: 110px;
            position: absolute;
            top: 360px;
            left: 150px;
            }
            .o3 {
                width: 110px;
                position: absolute;
                top: 360px;
                left: 270px;
                }
                .o4 {
                    width: 110px;
                    position: absolute;
                    top: 520px;
                    left: 30px;
                    }
                    .o5 {
                        width: 110px;
                        position: absolute;
                        top: 520px;
                        left: 150px;
                        }
        .post1 {
            width: 110px;
            position: absolute;
            top: 680px;
            left: 100px;
        }
        .post2 {
            width: 110px;
            position: absolute;
            top: 680px;
            left: 220px;
        }
        .post3 {
            width: 110px;
            position: absolute;
            top: 520px;
            left: 270px;
        }
        .figma {
            width: 330px;
            position: absolute;
            top: 870px;
            left: 40px;
        }
        .kaa {
            position: absolute;
            top: 1100px;
            left: 180px;
        }


        .m {
            width: 150px;
            position: absolute;
            top: 20px;
            left: 140px;
        }
        .mm {
            position: absolute;
            margin-top: 100px;
            margin-left: 0px;
            margin-right: 10px;
            font-size: 10px;
        }
        .mbook {
        width: 115px;
        position: absolute;
        top: 290px;
        left: 75px;
        }
        .mbook2 {
            width: 115px;
        position: absolute;
        top: 290px;
        left: 205px;
        }
        .mcd1 {
            width: 200px;
            position: absolute;
            top: 460px;
            left: 30px;
        }
        .mcd2 {
            width: 200px;
            position: absolute;
            top: 460px;
            left: 180px;
        }
        .mpages {
            width: 250px;
            position: absolute;
            top: 660px;
            left: 80px
        }
        .mdraw1 {
            width: 115px;
            position: absolute;
            top: 840px;
            left:20px
        }
        .mdraw2 {
            width: 115px;
            position: absolute;
            top: 1010px;
            left:20px;
        }
        .mdraw3 {
            width: 115px;
            position: absolute;
            top: 840px;
            left:150px
        }
        .mdraw4 {
            width: 115px;
            position: absolute;
            top: 1010px;
            left:150px;
        }
        .mdraw5 {
            width: 115px;
            position: absolute;
            top: 1010px;
            left:280px
        }
        .mdraw6 {
            width: 115px;
            position: absolute;
            top: 870px;
            left:280px;
        }
        .mm7 {
            width: 115px;
            position: absolute;
            top: 1180px;
            left: 20px;
        }
        .mm8 {
            width: 115px;
            position: absolute;
            top: 1180px;
            left: 150px;
        }
        .mm9 {
            width: 115px;
            position: absolute;
            top: 1180px;
            left: 280px;
        }
        .mm10 {
            width: 115px;
            position: absolute;
            top: 1405px;
            left: 20px;
        }
        .mm11 {
            width: 115px;
            position: absolute;
            top: 1425px;
            left: 150px;
        }
        .mm12 {
            width: 115px;
            position: absolute;
            top: 1420px;
            left: 280px;
        }
        .mm13 {
            width: 115px;
            position: absolute;
            top: 1515px;
            left: 280px;
        }
        .mm14 {
            width: 115px;
            position: absolute;
            top: 1630px;
            left: 20px;
        }
        .mm15 {
            width: 115px;
            position: absolute;
            top: 1630px;
            left: 150px;
        }
        .mm16 {
            width: 115px;
            position: absolute;
            top: 1630px;
            left: 280px;
        }
        .mm17 {
            width: 115px;
            position: absolute;
            top: 1855px;
            left: 20px;
        }
        .mm18 {
            width: 115px;
            position: absolute;
            top: 1855px;
            left: 150px;
        }
        .mm19 {
            width: 115px;
            position: absolute;
            top: 1855px;
            left: 280px;
        }
        .mm20 {
            width: 115px;
            position: absolute;
            top: 1990px;
            left: 20px;
        }
        .mm21 {
            width: 115px;
            position: absolute;
            top: 1990px;
            left: 150px;
        }
        .mm22 {
            width: 115px;
            position: absolute;
            top: 1990px;
            left: 280px;
        }
        .mm23 {
            width: 115px;
            position: absolute;
            top: 2125px;
            left: 20px;
        }
        .mm2 {
            position: absolute;
            top: 2270px;
            left: 190px;
        }

        .em {
            width: 150px;
            position: absolute;
            top: 1px;
            left: 130px
        }
        .wfe {
            position: absolute;
            margin-top: 190px;
            margin-left: 0px;
            margin-right: 10px;
            font-size: 10px;
        }
        .wfee {
            position: absolute;
            margin-top: 330px;
            margin-left: 0px;
            margin-right: 10px;
            font-size: 10px;
        }
        .colourvideo {
            width: 200px;
            position: absolute;
            top: 550px;
            left: 110px;
        }
        .em1 {
            width: 100px;
            position: absolute;
            top: 900px;
            left: 40px
        }
        .em2 {
            width: 100px;
            position: absolute;
            top: 900px;
            left: 160px
        }
        .em3 {
            width: 100px;
            position: absolute;
            top: 900px;
            left: 280px
        }
        .wfe2 {
            position: absolute;
            top: 1100px;
            left: 190px
        }
}