@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Major+Mono+Display&family=Rubik+Mono+One&display=swap');

body {
    padding: 20px;
    font-family: "Inter", monospace;
    background: black;
    color: white;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 10px 0px 10px 0px;
    color: rgb(255, 255, 255);
    font-family: 'major mono display';
    
}

main {
    width: 500px;
}

.create {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.mypage {
    width: 900px;
    position: absolute;
    top: 100px;
    left: 550px;

}

a {
    color: white;
    text-decoration: none;
    text-decoration: underline;
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
}

.toppage {
    font-family: 'major mono display';
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 1200px;
}

.img-CD1 {
    position: absolute;
    width: 180px;
    left: 400px;
    top: 500px;
}

.img-CD2 {
    position: absolute;
    width: 180px;
    left: 580px;
    top: 500px;
}
.CD:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-website {
    position: absolute;
    width: 350px;
    left: 100px;
    top: 440px;
}

.img-website:hover{
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-animation {
    position: absolute;
    width: 350px;
    left: 1000px;
    top: 460px
}
.img-animation:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-book {
    position: absolute;
    width: 200px;
    left: 140px;
    top: 750px;
}
.img-book:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-y {
    position: absolute;
    width: 190px;
    left: 320px;
    top: 730px;
}
.img-y:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-poster2 {
    position: absolute;
    width: 170px;
    left: 790px;
    top: 700px;
}
.img-poster {
    position: absolute;
    width: 170px;
    left: 920px;
    top: 660px;
}
.poster:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}
.img-t {
    position: absolute;
    width: 180px;
    left: 580px;
    top: 850px;
}
.img-t:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-zine {
    position: absolute;
    width: 270px;
    left: 970px;
    top: 970px;
    margin-bottom: 100px;
}
.img-zine:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.contact {
    font-size: 20px;
    position: absolute;
    top: 400px;
}

.planet {
    position: absolute;
    width: 240px;
    top: 100px;
    left: 970px;
}
.planet:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.mejibook {
    position: absolute;
    width: 190px;
    top: 150px;
    left: 700px;
}
.mejicd {
    position: absolute;
    width: 270px;
    top: 220px;
    left: 520px;
}
.meji:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

@media (max-width: 480px) {
    .toppage{
        margin-left: -870px;
        font-size: 10px;
    }

    h1 {
        font-size: 25px;
    }
    a{
        font-size: 15px;
        margin-right: 20px;
    }

    p{
      font-size: 12px;
      margin-right: 120px;
    }

    .img-CD1 {
        position: absolute;
        width: 75px;
        left: 140px;
        top: 270px;
    }
    
    .img-CD2 {
        position: absolute;
        width: 75px;
        left: 210px;
        top: 270px;
    }
   
    
    .img-website {
        position: absolute;
        width: 160px;
        left: 5px;
        top: 240px;
    }
    
    
    .img-animation {
        position: absolute;
        width: 150px;
        left: 250px;
        top: 190px
    }
    
    .img-book {
        position: absolute;
        width: 85px;
        left: 30px;
        top: 370px;
    }
    
    .img-y {
        position: absolute;
        width: 80px;
        left: 110px;
        top: 360px;
    }
    
    .img-poster2 {
        position: absolute;
        width: 70px;
        left: 270px;
        top: 320px;
    }
    .img-poster {
        position: absolute;
        width: 70px;
        left: 330px;
        top: 300px;
    }
    
    .img-t {
        position: absolute;
        width: 75px;
        left: 210px;
        top: 380px;
    }
    
    .img-zine {
        position: absolute;
        width: 115px;
        left: 300px;
        top: 450px;
        
    }
    
    .contact {
        font-size: 15px;
        position: absolute;
        top: 310px;
    }
    
    .planet {
        position: absolute;
        width: 100px;
        top: 60px;
        left: 260px;
    }
    
    .mejibook {
        position: absolute;
        width: 75px;
        top: 90px;
        left: 160px;
    }
    .mejicd {
        position: absolute;
        width: 115px;
        top: 120px;
        left: 80px;
    }
     .mypage {
        width: 350px;
        position: absolute;
        top: 400px;
        left: 25px;
    
    }
    
}
