@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Major+Mono+Display&family=Rubik+Mono+One&display=swap');

body {
    padding: 20px;
    font-family: "Inter", monospace;
    background: black;
    color: white;
}

h1 {
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 10px 0px 10px 0px;
    color: rgb(255, 255, 255);
    font-family: 'major mono display';
    
}

h2 {
    position: absolute;
    font-size: 30px;
    left: 40px;
}

main {
    width: 600px;
    font-size: 20px;
    position: absolute;
    top: 190px;
    left: 40px;
}
.create{
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    
}


.mee {
    position: absolute;
    width: 500px;
    top: 100px;
    left: 800px
}


a {
    color: white;
    text-decoration: none;
    text-decoration: underline;
    
    margin-right: 10px;
}

.email {
    color: #e9a7f4;
    font-size: 23px;
    position: absolute;
    top: 580px;
    left: 40px;
}

.insta {
    font-size: 30px;
    position: absolute;
    top: 660px;
    left: 50px;
}
.linkedin {
    font-size: 30px;
    position: absolute;
    top: 660px;
    left: 300px;
}

a:hover {
    text-decoration: none;
}

.toppage {
    font-family: 'major mono display';
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 1200px;
}

.img-CD1 {
    position: absolute;
    width: 220px;
    left: 360px;
    top: 880px;
}

.img-CD2 {
    position: absolute;
    width: 220px;
    left: 580px;
    top: 880px;
}
.CD:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-website {
    position: absolute;
    width: 400px;
    left: 40px;
    top: 800px;
}

.img-website:hover{
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-animation {
    position: absolute;
    width: 380px;
    left: 900px;
    top: 820px
}
.img-animation:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-book {
    position: absolute;
    width: 230px;
    left: 120px;
    top: 1160px;
}
.img-book:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-y {
    position: absolute;
    width: 210px;
    left: 320px;
    top: 1140px;
}
.img-y:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-poster2 {
    position: absolute;
    width: 210px;
    left: 840px;
    top: 1170px;
}
.img-poster {
    position: absolute;
    width: 210px;
    left: 990px;
    top: 1140px;
}
.poster:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}
.img-t {
    position: absolute;
    width: 230px;
    left: 570px;
    top: 1240px;
}
.img-t:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.img-zine {
    position: absolute;
    width: 360px;
    left: 970px;
    top: 1490px;
    margin-bottom: 100px;
}
.img-zine:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.planet {
    position: absolute;
    width: 280px;
    top: 530px;
    left: 970px;
}
.planet:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.mejibook {
    position: absolute;
    width: 210px;
    top: 500px;
    left: 710px;
}
.mejicd {
    position: absolute;
    width: 290px;
    top: 580px;
    left: 530px;
}
.meji:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.remix {
    position: absolute;
    width: 490px;
    top:630px;
    left:70px
}
.remix:hover {
transition: .5s ease;
opacity: 0.3;
cursor: help;
}

.joetop {
    position: absolute;
    width: 290px;
    top:220px;
    left:150px
}
.joetop:hover {
    transition: .5s ease;
    opacity: 0.3;
    cursor: help;
}

.powerhouse {
        position: absolute;
        width: 350px;
        top: 70px;
        left: 500px;
    }
    .powerhouse:hover {
        transition: .5s ease;
    opacity: 0.3;
    cursor: help;
    }

    .teamkit {
        position: absolute;
        width: 430px;
        top: 1px;
        left: 880px;
    }
     .teamkit:hover {
        transition: .5s ease;
    opacity: 0.3;
    cursor: help;
    }
@media (max-width: 480px) {
    .toppage{
        margin-left: -870px;
        font-size: 10px;
    }

    h1 {
        font-size: 30px;
    }
    h2 {
        position: absolute;
        font-size: 20px;
        top: 480px;
        left: 20px;
    }

    main {
        width: 450px;
        font-size: 20px;
        position: absolute;
        top: 510px;
        left: 20px;
    }
    .mee {
        position: absolute;
        width: 300px;
        top: 100px;
        left: 40px
    }
    a{
        font-size: 15px;
        margin-right: 20px;
    }

    .email {
        font-size: 23px;
        position: absolute;
        top: 820px;
        left: 20px;
    }
    
    .insta {
        font-size: 40px;
        position: absolute;
        top: 840px;
        left: 20px;
    }
    .linkedin {
        font-size: 40px;
        position: absolute;
        top: 840px;
        left: 130px;
    }

    p{
      font-size: 12px;
      margin-right: 120px;
    }

    .img-CD1 {
        position: absolute;
        width: 75px;
        left: 125px;
        top: 390px;
    }
    
    .img-CD2 {
        position: absolute;
        width: 75px;
        left: 200px;
        top: 390px;
    }
   
    
    .img-website {
        position: absolute;
        width: 140px;
        left: 10px;
        top: 360px;
    }
    
    
    .img-animation {
        position: absolute;
        width: 130px;
        left: 280px;
        top: 360px
    }
    
    .img-book {
        position: absolute;
        width: 85px;
        left: 10px;
        top: 490px;
    }
    
    .img-y {
        position: absolute;
        width: 80px;
        left: 90px;
        top: 480px;
    }
    
    .img-poster2 {
        position: absolute;
        width: 70px;
        left: 280px;
        top: 490px;
    }
    .img-poster {
        position: absolute;
        width: 70px;
        left: 340px;
        top: 470px;
    }
    
    .img-t {
        position: absolute;
        width: 75px;
        left: 185px;
        top: 530px;
    }
    
    .img-zine {
        position: absolute;
        width: 115px;
        left: 290px;
        top: 605px;
        
    }
    
    .contact {
        font-size: 15px;
        position: absolute;
        top: 410px;
    }
    
    .planet {
        position: absolute;
        width: 100px;
        top: 250px;
        left: 320px;
    }
    
    .mejibook {
        position: absolute;
        width: 75px;
        top: 240px;
        left: 230px;
    }
    .mejicd {
        position: absolute;
        width: 115px;
        top: 270px;
        left: 150px;
    }

    .remix {
        position: absolute;
        width: 200px;
        top:240px;
        left:10px
    }

    .joetop {
        position: absolute;
        width: 110px;
        top:100px;
        left:20px
    }

.powerhouse {
        position: absolute;
        width: 130px;
        top: 70px;
        left: 150px;
    }

    .teamkit {
        position: absolute;
        width: 155px;
        top: 30px;
        left: 280px;
    }

}
